.heroContainer {
  background-color: var(--hero-body-color);
  backdrop-filter: blur(100px);
}
.heroInnerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 10%;
  gap: 35px;
}
.heroTextCont {
  max-width: 700px;
}
.heroTextCont h1 {
  color: var(--white-color);
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 0.9;
}
.motionText {
  margin-left: 12px;
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--purple-button-color);
}
.dot {
  color: var(--purple-button-color);
}
.heroTextCont h3 {
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 650;
  margin-top: 10px;
  margin-bottom: 30px;
}
.heroTextCont p {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2rem;
  margin-left: 0.5rem;
}

.studyInfo {
  margin-bottom: 10px;
}
.roleText {
  margin-bottom: 10px;
}

/* custom button css  */
.resumeBtn {
  align-self: center;
  background-color: white;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 5px 20px;
  margin-top: 30px;
}

.resumeBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.resumeBtn:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.heroImgCont {
  padding: 12px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.skillsText {
  margin-top: 5px;
  font-weight: 800;
}

.heroImgCont img {
  /* width: 100%; */
  width: 500px;
  border-radius: 15px;
  border: 10px solid var(--purple-button-color);
  transition: all 0.3s ease-in-out;
  animation: float 3s ease-in-out infinite;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  filter: grayscale(100%);
}

.heroImgCont img:hover {
  filter: grayscale(0%);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

@media (max-width: 1200px) {
  .heroInnerContainer {
    padding: 8rem 5%;
  }
}

@media (max-width: 950px) {
  .heroImgCont {
    display: none;
  }
  .heroInnerContainer {
    justify-content: center;
    padding: 6rem 5%;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .heroInnerContainer {
    padding: 5rem 5%;
  }
  .heroTextCont h1 {
    font-size: 4rem;
    font-weight: 800;
  }
  .heroTextCont h3 {
    font-size: 1.4rem;
    font-weight: 650;
    margin-bottom: 35px;
  }
  .heroTextCont p {
    font-size: 16px;
    line-height: 1.5rem;
  }
  .studyInfo {
    margin-bottom: 20px;
  }
  .roleText {
    margin-bottom: 20px;
  }
  .motionText {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .heroInnerContainer {
    padding: 6rem 5% 40px;
  }
  .heroTextCont h1 {
    font-size: 2.6rem;
  }
  .heroTextCont h3 {
    font-size: 1.2rem;
  }
  .heroTextCont p {
    font-size: 12px;
  }
}
