* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.aboutData {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px 100px 10px;
}
.aboutHeading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.journeyText {
  border: 1px solid #333;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: var(--calc-box);
  color: var(--white-color);
}
@media (max-width: 950px) {
  .aboutData {
    justify-content: space-between;
  }
}
@media (max-width: 850px) {
  .aboutData {
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
  }
}
@media (max-width: 500px) {
  .aboutData {
    padding: 10px 0px 10px;
  }
  .journeyText {
    padding: 4px 10px;
    font-size: 12px;
    border: 10px;
  }
}
@media (max-width: 450px) {
  .aboutData {
    padding: 10px 0px;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
