.contactContainer {
  background-color: var(--skill-bg);
  backdrop-filter: blur(10px) brightness(1.1);
  padding: 20px 8% 20px;
  display: flex;
  flex-direction: column;
}
.contactTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testHeading {
  font-size: 4rem;
  color: var(--white-color);
  font-weight: 800;
}
.testText {
  background: #3f5efb;
  background: radial-gradient(
    circle,
    var(--gradient-blue) 0%,
    var(--gradient-pink) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.testInfo {
  max-width: 700px;
  position: relative;
  padding: 30px 0px;
}
.testInfo p {
  color: var(--white-color);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.contactChildContainer {
  margin-top: 50px;
}

@media (max-width: 650px) {
  .contactContainer {
    padding: 10px 3%;
  }
  .testHeading {
    font-size: 2rem;
  }
  .testInfo p {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .contactContainer {
    padding: 10px 1px;
  }
  .contactChildContainer {
    margin-top: 10px;
  }
}
